body {
    max-width: 1600px;
}

h1 {
  font-size: calc((100/16)*1em);
  
}

h3 {
  font-size: calc((18/16)*1em);
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

img {
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.displayNone {
  display: none;
}

.displayBlock {
  display: block;
}
