@import url(global/normalize.css);
@import url(global/fonts.css);

body {
  margin: 0 auto;
  max-width: 1601px;
}

h1 {
  font-size: calc((100 / 16) * 1em);
}

h3 {
  font-size: calc((18 / 16) * 1em);
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

img {
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.displayNone {
  display: none;
}

.displayBlock {
  display: block;
}

header {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  color: #fff;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(70%, transparent),
      to(#7a6484)
    ),
    url(../images/header/BG.png);
  background-image: linear-gradient(transparent 70%, #7a6484),
    url(../images/header/BG.png);
  height: 880px;
}

header:not(.started__button) {
  text-shadow: -1px 1px 40px black;
}

header nav,
header .nav__list,
header .started {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header .nav__item,
header .started__h1,
header .started__button,
header .started_p--underline {
  font-family: "Lato-Bold", "Lato", sans-serif;
}

header nav {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 10px;
}

header nav .nav__logo {
  margin-left: -30px;
}

header nav .nav__list .nav__item {
  text-transform: uppercase;
  font-size: calc((14 / 16) * 1em);
}

header nav .nav__list .nav__item:not(:nth-child(1)) {
  margin-left: 32px;
}

header .started {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 20% auto;
  text-align: center;
}

header .started .started__p-title {
  word-spacing: 0.25em;
  margin-left: 15px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-style: italic;
  font-size: calc((36 / 16) * 1em);
  color: rgba(255, 255, 255, 0.8);
}

header .started .started__h1 {
  margin: 0;
  letter-spacing: 0.05em;
}

header .started .started__button {
  background: transparent;
  font-size: calc((18 / 16) * 1em);
  color: #fff;
  cursor: pointer;
  border: 3px solid #fff;
  padding: 20px 80px;
  margin: 20px auto;
}

header .started .started__p {
  margin-top: 20px;
  font-family: "Lato-Regular", "Lato", sans-serif;
  font-size: calc((14 / 16) * 1em);
  letter-spacing: 0.05em;
}

header .started .started__p a {
  text-decoration: underline;
}

.get-an-offer {
  background-color: #fff;
  margin: 6% auto;
}

.get-an-offer .container {
  max-width: 1280px;
}

.get-an-offer .get-an-offer__container,
.get-an-offer .get-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.get-an-offer .get-body {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  width: 390px;
}

.get-an-offer .get-body:not(:nth-child(1)) {
  margin-left: 20px;
}

.get-an-offer .get-body .get__img-body {
  border: 3px solid black;
  border-radius: 50%;
  padding: 50px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.get-an-offer .get-body .get-inspired__img {
  background-image: url(../images/getAnOffer/Burger.png);
}

.get-an-offer .get-body .get-rewarded__img {
  background-image: url(../images/getAnOffer/Money.png);
}

.get-an-offer .get-body .get-social__img {
  background-image: url(../images/getAnOffer/Shef.png);
}

.get-an-offer .get-body .get__title {
  font-family: "Lato-Bold", "Lato", sans-serif;
  margin-top: 1.3em;
}

.get-an-offer .get-body .get__title::after {
  content: "";
  display: block;
  width: 90px;
  padding-top: 5px;
  margin: 0 auto;
  border-bottom: 2px solid #f57365;
}

.get-an-offer .get-body .get__p {
  font-family: "Lato-Light", "Lato", sans-serif;
  margin-top: 0.7em;
  line-height: calc((26 / 16) * 1em);
  word-spacing: 5px;
}

.introducing-app {
  background-color: #f7f7f7;
}

.introducing-app .introducing-app__container {
  max-width: 1230px;
}

.introducing-app .smartfone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 100px;
}

.introducing-app .smartfone .text-info {
  min-width: 44%;
  margin: 0 9.5%;
  min-height: 620px;
}

.introducing-app .smartfone .text-info .text-info__title {
  font-family: "Lato-Bold", "Lato", sans-serif;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.introducing-app .smartfone .text-info .text-info__title::after {
  content: "";
  display: block;
  width: 15%;
  padding-top: 5px;
  border-bottom: 2px solid #f57365;
}

.introducing-app .smartfone .text-info .text-info__p {
  line-height: 1.6em;
  font-family: "Lato-Light", "Lato", sans-serif;
  margin-bottom: 1.9em;
}

.introducing-app .smartfone .text-info .install-app__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.introducing-app .smartfone .text-info .install-app__body a:nth-child(1) {
  margin-right: 10px;
}

.people-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  background-color: #4a3949;
  min-height: 460px;
  background-image: url(../images/peopleSlider/BGpeople.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.people-slider .people-slider-info {
  color: #fff;
  margin: 6% 10%;
  margin-bottom: 32px;
  text-align: center;
}

.people-slider .people-slider-info .people-slider__p {
  margin-top: 15px;
  line-height: 1.5em;
}

.people-slider .people-slider-info .people-slider_quote {
  font-family: "Lato-Thin", "Lato", sans-serif;
  font-size: calc((30 / 16) * 1em);
}

.people-slider .people-slider-info .people-slider_autor {
  font-family: "Lato-ThinItalic", "Lato", sans-serif;
  font-size: calc((18 / 16) * 1em);
}

.people-slider .inner-wrapper .inner-wrapper__control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  left: 48.5%;
  height: 10px;
  width: 10px;
  margin-right: 0.5rem;
  background: #fff;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  opacity: 0.3;
}

.people-slider .inner-wrapper .inner-wrapper__control:hover {
  opacity: 0.5;
}

.people-slider .inner-wrapper .inner-wrapper__control:checked {
  opacity: 1;
}

.browse-by-cuisines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 6% auto;
  margin-bottom: 3.5%;
}

.browse-by-cuisines .browse-by-cuisines__h3 {
  font-family: "Lato-Bold", "Lato", sans-serif;
  word-spacing: 5px;
}

.browse-by-cuisines .browse-by-cuisines__h3::after {
  content: "";
  display: block;
  width: 90px;
  padding-top: 5px;
  margin: 0 auto;
  border-bottom: 2px solid #f57365;
}

.browse-by-cuisines .browse-by-cuisines__content {
  width: 100%;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 20em);
  margin-top: 40px;
}

.browse-by-cuisines .browse-by-cuisines__content .cuisines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.browse-by-cuisines .browse-by-cuisines__content .cuisines p {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 37%;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.browse-by-cuisines .browse-by-cuisines__content .cuisines .recipes-count {
  margin-top: -10px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-style: italic;
  font-size: calc((15.37 / 16) * 1em);
  color: #fff;
}

.browse-by-cuisines .browse-by-cuisines__content .cuisines .recipes-name {
  margin-top: 10px;
  font-family: "Lato-Bold", "Lato", sans-serif;
  font-size: calc((36 / 16) * 1em);
  color: #fff;
}

.browse-by-cuisines .browse-by-cuisines__footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  margin-top: 40px;
}

.browse-by-cuisines .browse-by-cuisines__footer-container .total-recipes__body {
  margin: 0 20px;
}

.browse-by-cuisines
  .browse-by-cuisines__footer-container
  .total-recipes__body
  p {
  margin-top: 10px;
  letter-spacing: 1px;
}

.browse-by-cuisines
  .browse-by-cuisines__footer-container
  .total-recipes__body
  .total-recipes__count {
  font-family: "Lato-Bold", "Lato", sans-serif;
  font-size: calc((36 / 16) * 1em);
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.browse-by-cuisines
  .browse-by-cuisines__footer-container
  .total-recipes__body
  .total-recipes__text {
  font-family: "Lato-Light", "Lato", sans-serif;
}

.footer {
  background-color: #f7f7f7;
  height: 100px;
  font-family: "Lato-Light", "Lato", sans-serif;
  font-size: calc((14 / 16) * 1em);
  color: rgba(139, 139, 139, 0.5);
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.footer .footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
  margin: 0 13%;
}

.footer .footer__email {
  font-family: "Lato-Regular", "Lato", sans-serif;
  letter-spacing: 2.5px;
}

.footer .footer__email .footer__email_a {
  color: #000;
}

.modal-window,
.modal {
  z-index: 99999;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: rgba(12, 6, 26, 0.8);
  display: none;
}

.modal {
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 1.5em;
}

.modal .modal-user__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.modal .modal-user__body .modal__login-form {
  width: 100%;
  padding: 2em;
  padding-top: 0;
  position: relative;
  background: rgba(0, 0, 0, 0.15);
}

.modal .modal-user__body .modal__login-form:before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  height: 2px;
  width: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#35c3c1),
    to(#00d6b7)
  );
  background: linear-gradient(to right, #35c3c1, #00d6b7);
}

.modal .modal-user__body .modal__login-form .login__logo {
  margin: 1em 37%;
}

.modal .modal-user__body .modal__login-form .modal__flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1em;
}

.modal .modal-user__body .modal__login-form .modal__flex-row .lf--label {
  width: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #f5f6f8;
  cursor: pointer;
}

.modal .modal-user__body .modal__login-form .modal__flex-row .lf--label-user {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='12px' height='13px'%3E%3Cpath fill='%23B1B7C4' d='M8.9,7.2C9,6.9,9,6.7,9,6.5v-4C9,1.1,7.9,0,6.5,0h-1C4.1,0,3,1.1,3,2.5v4c0,0.2,0,0.4,0.1,0.7 C1.3,7.8,0,9.5,0,11.5V13h12v-1.5C12,9.5,10.7,7.8,8.9,7.2z M4,2.5C4,1.7,4.7,1,5.5,1h1C7.3,1,8,1.7,8,2.5v4c0,0.2,0,0.4-0.1,0.6 l0.1,0L7.9,7.3C7.6,7.8,7.1,8.2,6.5,8.2h-1c-0.6,0-1.1-0.4-1.4-0.9L4.1,7.1l0.1,0C4,6.9,4,6.7,4,6.5V2.5z M11,12H1v-0.5 c0-1.6,1-2.9,2.4-3.4c0.5,0.7,1.2,1.1,2.1,1.1h1c0.8,0,1.6-0.4,2.1-1.1C10,8.5,11,9.9,11,11.5V12z' /%3E%3C/svg%3E");
}

.modal .modal-user__body .modal__login-form .modal__flex-row .lf--label-email {
  background-size: 15px 11.4px;
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='%23b7c4c4' x='0px' y='0px' viewBox='0 0 15 11.4' style='enable-background:new 0 0 15 11.4;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M13.7,0H1.3C0.6,0,0,0.6,0,1.3v8.8c0,0.7,0.6,1.3,1.3,1.3h12.4c0.7,0,1.3-0.6,1.3-1.3V1.3C15,0.6,14.4,0,13.7,0z M13.5,0.9l-6,6l-6-6H13.5z M0.9,9.9V1.5l4.2,4.2L0.9,9.9z M1.5,10.6l4.2-4.2l1.5,1.5C7.4,8,7.7,8,7.8,7.8l1.4-1.4l4.2,4.2H1.5z M14.1,9.9L9.9,5.7l4.2-4.2V9.9z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.modal
  .modal-user__body
  .modal__login-form
  .modal__flex-row
  .lf--label-password {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='15px' height='5px'%3E%3Cg%3E%3Cpath fill='%23B1B7C4' d='M6,2L6,2c0-1.1-1-2-2.1-2H2.1C1,0,0,0.9,0,2.1v0.8C0,4.1,1,5,2.1,5h1.7C5,5,6,4.1,6,2.9V3h5v1h1V3h1v2h1V3h1 V2H6z M5.1,2.9c0,0.7-0.6,1.2-1.3,1.2H2.1c-0.7,0-1.3-0.6-1.3-1.2V2.1c0-0.7,0.6-1.2,1.3-1.2h1.7c0.7,0,1.3,0.6,1.3,1.2V2.9z' /%3E%3C/g%3E%3C/svg%3E");
}

.modal .modal-user__body .modal__login-form .modal__flex-row .lf--input {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 1em;
  border: 0;
  color: #8f8f8f;
  font-size: 1rem;
}

.modal .modal-user__body .modal__login-form .lf--submit {
  display: block;
  padding: 1em;
  width: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#35c3c1),
    to(#00d6b7)
  );
  background: linear-gradient(to right, #35c3c1, #00d6b7);
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 0.75em;
  font-weight: 600;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.modal .modal-user__body .lf--forgot {
  margin-top: 1em;
  color: #00d6b7;
  font-size: 0.65em;
  text-align: center;
  position: relative;
}

.modal .modal-user__body .lf--forgot a {
  text-decoration: underline;
}

.nav__item-burger {
  position: relative;
}

.nav__item-burger #burger-input {
  display: none;
}

.nav__item-burger #burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  cursor: pointer;
  width: 15px;
  height: 12px;
  right: 0;
  top: -6px;
}

.nav__item-burger #burger span {
  height: 2px;
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 999;
}

.nav__item-burger input:checked + label span {
  opacity: 0;
  top: 50%;
}

.nav__item-burger input:checked + label span:first-child {
  opacity: 1;
  margin-top: 5px;
  -webkit-transform: rotate(405deg);
  transform: rotate(405deg);
}

.nav__item-burger input:checked + label span:last-child {
  opacity: 1;
  margin-bottom: 5px;
  -webkit-transform: rotate(-405deg);
  transform: rotate(-405deg);
}

.nav__item-burger #menu {
  background-color: rgba(175, 130, 108, 0.6);
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 0;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
}

.nav__item-burger #menu li {
  margin-bottom: 2px;
}

.nav__item-burger #menu li:not(:last-child):after {
  content: "";
  display: block;
  width: 90px;
  padding-top: 2px;
  margin: 0 auto;
  border-bottom: 2px solid #ecc8c3;
}

@media screen and (max-width: 1200px) {
  .get-an-offer .get-body {
    margin: 20px 0;
  }

  .smartfone__img-container {
    display: none;
  }

  .introducing-app__smartfone {
    justify-content: center;
    padding-bottom: 100px;
  }

  .introducing-app .smartfone .text-info {
    min-height: auto;
  }
}
@media screen and (max-width: 720px) {
  h1 {
    font-size: calc((36 / 16) * 1em);
  }
  .header {
    height: 600px;
  }
  .people-slider .inner-wrapper .inner-wrapper__control {
    left: 45%;
  }
  .browse-by-cuisines .browse-by-cuisines__footer-container,
  .footer .footer__container {
    justify-content: center;
    flex-wrap: wrap;
  }
  .browse-by-cuisines
    .browse-by-cuisines__footer-container
    .total-recipes__body {
    width: 100%;
  }
  .get-an-offer .get-body:not(:nth-child(1)) {
    margin-left: 0;
  }
  header .started .started__p-title {
    font-size: calc((16 / 16) * 1em);
  }
}
